<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscador</title>
</head>
<body>
<h1>Buscador</h1>
<form method="get" action="/buscar">
    <label for="texto"> Texto a buscar:</label>
    <input type="text" id = "texto" name="texto">
    <button type="submit">Buscar</button>
</form>
{% if texto  == 'CEDAPY'%}
<h2>Resultados para: "{{ texto }}"</h2>
<p>CEDAPY es un curso de especialización de aplicaciones web en lenguaje PYTHON impartido en el IES Ribera de Castilla de Valladolid</p>
{% else %}
<h2>El texto: ({{ texto }}) no encontró respuesta</h2>
{% endif %}
</body>
</html>