<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Suma</title>
        </head>
    <body>
    <h1>Calculadora de suma</h1>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post" action="/sumar">
        <label for="a">Numero A:</label>
        <input type="text" id="a" name="a" value="{{ a }}" placeholder="Ingrese un número">

        <br><br>

        <label for="b">Numero B:</label>
        <input type="text" id="b" name="b" value="{{ b }}" placeholder="Ingrese otro número">

        <br><br>

        <button type="submit">Calcular</button>
    </form>

    {% if resultado is not none %}
    <h2>Resultado: {{ resultado }}</h2>
    {% endif %}
    </body>
</html>